.my-title-class {
  font-size: 14px; /* Change font size */
}

.swal2-actions {
  margin-top: 0 !important; /* Adjust margin-top to 0 */
}

/* Custom styles for smaller SweetAlert2 dialog and buttons */
.smaller-sweet-alert {
  font-size: 14px;
  padding: 12px;
  z-index: 9999 !important; /* Ensure it appears above other elements */
}

.smaller-sweet-alert .swal2-confirm {
  min-width: 70px;
  font-size: 13px;
  border-radius: 9999px;
  padding: 10px 15px;
}

.smaller-sweet-alert .swal2-close:focus {
  outline: none; /* Remove the blue outline */
  box-shadow: none; /* Remove any box shadow */
}
  
.smaller-sweet-alert .swal2-cancel {
  font-size: 13px;
  border-radius: 9999px;
  padding: 10px 15px;
}
.smaller-sweet-alert .swal2-icon {
  font-size: 12px;
  margin-top: 0%;
}

.smaller-sweet-alert2 img {
  min-height: 20vh; /* 30% of the viewport height */
  width: auto; /* Maintain aspect ratio */
}



