.user-marker-pin {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px 8px;
  border-radius: 18px; /* ovale pour texte + icône */
  background: white;
  border: 3px solid #4285f4; /* contour bleu */
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.user-marker-pin:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}


.custom-marker {
  padding: 6px 10px;
  background: #d2ff90;
  border: 2px solid red;
  border-radius: 15px;
  font-weight: bold;
  white-space: nowrap;
  transition: transform 0.2s ease;
}

.custom-marker.active {
  background: #ffcccc;
  border-color: #ff0000;
  transform: scale(1.2);
}

.yNHHyP-marker-view.active {
  z-index: 9999 !important;
}
