.edit-user-card {
  background-color: #eeeff3;
}
.card {
  width: 375px;
  border: none;
  border-radius: 15px;
}

.form-control{
  border-radius: 7px;
}

.error-line {
  height: 2px;
  background-color: red;
  margin-top: 2px; /* Adjust the space between input and the line */
}

.user-profile-picture{
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fff;
  outline: 2px solid #00000080;
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

.edit-profile-picture-button{
  position: absolute;
  z-index: 100;
  margin-left: 53%;
  margin-top: -21px;
  margin-right: auto;
  font-weight: bolder;
}

.show-password-icon {
  position: absolute;
  margin-top: 4px;
  right: 3%;
}